.header {
    color: aqua;
    display: inline;
    font-size: 2.5rem;
}

.top_bar {
    background-color: rgb(16, 20, 19);
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -8px;
    width: 98%;
}

.nav {
    display: inline;
}

.nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    top: 50px;
    right: 0;
    width: 100%;
    align-items: flex-end;
}

.nav-links.active {
    display: flex;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    background-color: black;
}

.nav_element {
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    margin-right: 20px;
    text-align: center;
    flex: 1;
    min-width: 120px;
    background-color: blanchedalmond;
}

.recept {
    gap: 20px;
    padding: 40px;
    justify-content: center;
    border: 10px;
    margin: 20px;
}

.recept_card {
    display: inline-block;
    padding: 20px;
    max-width: 350px;
    background-color: blue;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

.card_container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
}

.recept_titel {
    margin: 20px;
    text-align: center;
    font-size: 3rem;
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

footer {
    background-color: rgb(16, 20, 19);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin: -8px;
}

@media (max-width: 767px) {
    .menu-toggle {
        display: block;
        margin-left: auto;
    }

    .nav-links {
        display: none;
        align-items: flex-end;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 8px;
        width: auto;
        padding: 10px;
        border-radius: 5px;
        background-color: none;
    }

    .nav-links.active {
        display: flex;
    }

    .nav_element {
        width: 100%;
        margin-right: 0;
    }
}