/*
    En grid-container som innehåller grundläggande inställningar för grid-layout men som för mobila enheter bara är top to bottom, ändras däremot för dator
*/
.grid-container {
    display: grid;
    grid-template-areas:
        "header"
        "info"
        "main"
        "aside"
        "footer";
    grid-template-columns: 100%;

    margin: 0px;
    padding: 0px;
}


/*
    Det här är den Css som i princip finns på alla sidor, det är en header och en footer. Headern innehåller för mobiler en hamburgermeny som är till höger om rubriken. Top-baren har en bakgrundsbild som är en fin bild på matlagning från unsplash och i rubriktexten använder jag mix-blend-mode för att få en snygg rubrik.
*/

.header {
    color: rgb(255, 255, 255);
    display: inline;
    font-size: 3rem;
    mix-blend-mode: difference; /* Den kontrasterar textfärgen mot bakgrundsbilden. för att det enklare skall gå att läsa */
    font-family: cursive;
    line-height: 0.8;
}

.top_bar {
    grid-area: header;
    background-image: url("../IMG/maarten-van-den-heuvel-EzH46XCDQRY-unsplash.png");
    background-size: cover;
    background-position: center;
    padding: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    width: 86%;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
}

.nav {
    display: inline;
    margin-bottom: 34%;
    gap: 0px;
}

.nav-links {
    display: none;
    align-items: flex-end;
    flex-direction: column;
    position: absolute;
    right: 0%;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    background: none;
}

.nav-links.active {
    display: flex;
}

.menu-toggle {
    display: block;
    font-size: 24px;
    cursor: pointer;
    color: white;
    background-color: rgb(104, 176, 20);
    margin-left: auto;
    position: relative;
    bottom: 0%;
}

.nav_element {
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    margin-right: 20px;
    min-width: 120px;
    background-color: rgb(104, 176, 20);
    color: black;
    font-size: rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
}

footer {
    grid-area: footer;
    background-color: rgb(16, 20, 19);
    color: white;
    text-align: center;
    padding: 5%;
    margin-top: 20px;
    width: 90%;
}


/* Css för delen av sidan där man får information om receptets ursprung och liknande, har valt att ge den en max-width för att det ska se snyggt ut vid stor skärm */
.information {
    grid-area: info;
    margin: 40px;
    border: 10px;
    align-items: center;
    text-align: center;
    margin: 20px;
    max-width: 1000px;
    justify-self: center;
}

.information_text {
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    padding: 30px;
    color: #333;
    margin: 20px 8%;
    font-weight: bold;
}

/* Css för hero image*/
.hero_image {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin: 0px;
    align-self: center;
    max-width: 800px;
}


/* 
    Css för receptet, som är en stor del av sidan. Här finns information om ingridienser och instruktioner, bara en visas samtidigt och man hoppar mellan de olika med en knapp högst upp i denna sektionen. 
*/
.left_side {
    grid-area: main;
    margin: 1%;
}

.toggle-section {
    display: none;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 700px;
    text-align: left;
    background-color: rgb(134, 178, 57);
    margin-left: 20px;
}

.toggle-button {
    background-color: white;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
}

.toggle-button.active {
    background-color: gray;
    color: white;
}

#ingredients {
    font-size: 1.25rem;
}

#instructions {
    font-size: 1.25rem;
}

.ingredients {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 1.2rem;
    line-height: 1.8;
}


/* Css för näringsinformation långt ner på sidan, en tabell för olika viktiga näringsämnen. */
.nutrition {
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    background-color: #f9f9f9;
    max-width: 800px;
}

.nutrition table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 1.25rem;
}

.nutrition th,
.nutrition td {
    border: 1px solid #ddd;
    padding: 8px;
    padding: 12px;
}

.nutrition th {
    background-color: #f2f2f2;
    text-align: left;
}


/* Css för länkarna till de andra recepten. Om en mobil används kommer dessa visas allra längst ner men om en dator används visas de till höger om receptet */
.right_side {
    grid-area: aside;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
}

.recept_card {
    display: inline-block;
    padding: 20px;
    max-width: 350px;
    background-color: rgb(212, 186, 146);
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
    color: black;
    font-size: 1.25rem;
}

.recept_bild {
    width: 100%;
    border-radius: 20px;
}



.instructions_list {
    gap: 3rem;
}

.toggle-buttons {
    justify-content: center;
    margin: 30px;
}

/* Förstorar punkterna i listan */
ul>li::marker {
    font-size: 1.75rem;
}

/* 
    @media queries for responsivitet. Om skärmen är större än 1024px (dator) så kommer dessa stilar att tillämpas. Det kommer då inte att finnas en hamburgermeny utan en vanlig nav-bar brevid headern. Vissa element kommer att ändra storlek och placering för att passa den större skärmen.
    Det kommer även att finnas en grid-layout för sidan där headern, informationen, receptet och footern kommer att placeras i olika rutor.
*/
@media (min-width: 1024px) {
    .header {
        font-size: 7.5rem;
        font-family: cursive;
    }

    .menu-toggle {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        position: static;
        top: 50px;
        right: 0;
        width: 100%;
        align-items: flex-end;
        background: none;
        box-shadow: none;
    }

    .nav_element {
        width: auto;
        margin-right: 20px;
    }

    .section_header {
        font-size: 3rem;
    }

    .nav-links {
        top: 27.5vh;
        right: 1%;
    }

    .nav_element {
        font-size: 1rem;
    }

    .grid-container {
        grid-template-areas:
            "header header header"
            "info info info"
            "main main aside"
            "footer footer footer";
        grid-template-columns: 10% 30% 60%;
    }

    .information_text {
        font-size: 1.5rem;
        padding: 50px;
        margin: 20px 8%;
    }
}