.grid-container {
    display: grid;
    grid-template-areas:
        "header header header"
        "info info info"
        "main main aside"
        "footer footer footer";
    grid-template-columns: 10% 30% 60%;
    margin: 0px;
    padding: 0px;
}

.header {
    color: rgb(248, 241, 241);
    display: inline;
    font-size: 4rem;
}

.top_bar {
    grid-area: header;
    background-color: rgb(69, 165, 21);
    padding: 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: inline;
}

.nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    top: 50px;
    right: 0;
    width: 100%;
    align-items: flex-end;
}

.nav-links.active {
    display: flex;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    background-color: black;
}

.nav_element {
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    margin-right: 20px;
    text-align: center;
    flex: 1;
    min-width: 120px;
    background-color: blanchedalmond;
    text-decoration: none;
    color: rgb(27, 27, 27);
    font-family: 'Roboto', sans-serif;
}

footer {
    grid-area: footer;
    background-color: rgb(16, 20, 19);
    color: white;
    text-align: center;
    padding: 5%;
    margin-top: 20px;
    width: 90%;
}

@media (max-width: 767px) {
    .menu-toggle {
        display: block;
        margin-left: auto;
    }

    .nav-links {
        display: none;
        align-items: flex-end;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 8px;
        width: auto;
        padding: 10px;
        border-radius: 5px;
        background: none;
    }

    .nav-links.active {
        display: flex;
    }

    .nav_element {
        width: 100%;
        margin-right: 0;
    }

    .grid-container {
        grid-template-areas:
            "header"
            "info"
            "main"
            "aside"
            "footer";
        grid-template-columns: 100%;
    }
}

.toggle-section {
    display: none;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 700px;
    text-align: left;
    background-color: rgb(134, 178, 57);
    margin-left: 20px;
}

.toggle-button {
    background-color: white;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
}

.toggle-button.active {
    background-color: gray;
    color: white;
}

.information {
    grid-area: info;
    margin: 40px;
    border: 10px;
    align-items: center;
    text-align: center;
    margin: 20px;
    max-width: 1000px;
    justify-self: center;
}

.information_text {
    font-size: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    padding: 30px;
    color: #333;
    margin: 20px 8%;
    font-weight: bold;
}

#ingredients {
    font-size: 1.25rem;
}

#instructions {
    font-size: 1.25rem;
}

.right_side {
    grid-area: aside;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
}

.ingredients {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 1.2rem;
    line-height: 1.8;
}

.left_side {
    grid-area: main;
    margin: 1%;
}

.nutrition {
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    background-color: #f9f9f9;
    max-width: 800px;
}

.nutrition table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 1.25rem;
}

.nutrition th,
.nutrition td {
    border: 1px solid #ddd;
    padding: 8px;
    padding: 12px;
}

.nutrition th {
    background-color: #f2f2f2;
    text-align: left;
}

.aside_img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 0px;
}


.recept_bild {
    width: 100%;
    border-radius: 20px;
}

.recept_card {
    display: inline-block;
    padding: 20px;
    max-width: 350px;
    background-color: rgb(212, 186, 146);
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
    color: black;
    font-size: 1.25rem;
}

.hero_image {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin: 0px;
    align-self: center;
    max-width: 800px;
}

.instructions_list {
    gap: 3rem;
}

.toggle-buttons {
    justify-content: center;
    margin: 30px;
}

ul>li::marker {
    font-size: 1.75rem;
}