body {
    padding: 0px;
    justify-content: center;
    margin: 0px;
    grid-template-areas:
        "header"
        "recepies"
        "footer"
    ;
    grid-template-columns: 100%;
}

/*
    Det här är den Css som i princip finns på alla sidor, det är en header och en footer. Headern innehåller för mobiler en hamburgermeny som är till höger om rubriken. Top-baren har en bakgrundsbild som är en fin bild på matlagning från unsplash och i rubriktexten använder jag mix-blend-mode för att få en snygg rubrik.
*/

.header {
    color: rgb(255, 255, 255);
    display: inline;
    font-size: 3rem;
    mix-blend-mode: difference; /* Den kontrasterar textfärgen mot bakgrundsbilden. för att det enklare skall gå att läsa */
    font-family: cursive;
    line-height: 0.8;
}

.top_bar {
    grid-area: header;
    background-image: url("../IMG/maarten-van-den-heuvel-EzH46XCDQRY-unsplash.png");
    background-size: cover;
    background-position: center;
    padding: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    width: 86%;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
}

.nav {
    display: inline;
    margin-bottom: 34%;
    gap: 0px;
}

.nav-links {
    display: none;
    align-items: flex-end;
    flex-direction: column;
    position: absolute;
    right: 0%;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    background: none;
}

.nav-links.active {
    display: flex;
}

.menu-toggle {
    display: block;
    font-size: 24px;
    cursor: pointer;
    color: white;
    background-color: rgb(104, 176, 20);
    margin-left: auto;
    position: relative;
    bottom: 0%;
}

.nav_element {
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    margin-right: 20px;
    min-width: 120px;
    background-color: rgb(104, 176, 20);
    color: black;
    font-size: rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
}


/*
    Denna Css stylar huvuddelen av sidan som består av flex-cards som bara wrappar runt kanten om det finns ont om utrymme. Cards har en shadow och border-radius för att skapa en illusion av djup i sidan
*/
.recept {
    grid-area: recept;
    gap: 20px;
    padding: 40px;
    justify-content: center; /* Centrerar innehållet */
    border: 10px;
    margin: 20px;
}

.recept_card {
    display: inline-block;
    padding: 20px;
    max-width: 60vW;
    width: 350px;
    background-color: rgb(212, 186, 146);
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
    color: black;
    font-size: 1.25rem;

}

.card_container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
}

.recept_titel {
    margin: 20px;
    text-align: center;
    font-size: 3rem;
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

footer {
    grid-area: footer;
    background-color: rgb(16, 20, 19);
    color: white;
    text-align: center;
    padding: 5%;
    margin-top: 20px;
    width: 90%;
}

.recept_bild {
    width: 100%;
    border-radius: 20px;
}


/* 
    @media queries for responsivitet. Om skärmen är större än 1024px (dator) så kommer dessa stilar att tillämpas. Det kommer då inte att finnas en hamburgermeny utan en vanlig nav-bar brevid headern. Vissa element kommer att ändra storlek och placering för att passa den större skärmen.
*/
@media (min-width: 1024px) {
    .header {
        font-size: 7.5rem;
        font-family: cursive;
    }

    .menu-toggle {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        position: static;
        top: 50px;
        right: 0;
        width: 100%;
        align-items: flex-end;
        background: none;
        box-shadow: none;
    }

    .nav_element {
        width: auto;
        margin-right: 20px;
    }

    .nav-links {
        top: 27.5vh;
        right: 1%;
    }

    .nav_element {
        font-size: 1rem;
    }
}